:root {
    --aqua-color: aqua;
    --animation: all .5s ease-in-out;
}

body {
    background-color: gray;
    margin-bottom: 0;
}

header {
    background-color: var(--aqua-color);
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    border-bottom: 2px solid black;
}

main {
    width: 96%;
    margin: 2rem auto;
}

h1,#header-description {
    text-align: center;
    padding: 15px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div{
    flex: 1 0 100%;
}

figure:hover,
figure:hover h2 {
    box-shadow: inset 0px 0px 15px brown, 0 0 15px brown;
    transition: var(--animation);
}

figure {
    display: flex;
    flex-direction: column; 
    outline: 3px dashed rgb(0, 82, 0);
    margin: 4%;
    background-color: var(--aqua-color);
    border-radius: 15px;
}

figure h2 {
    position: relative;
    text-align: center;
    border: 2px solid black;
    border-radius: 30%;
    background-color: rgb(228, 13, 13);
    margin-top: -10px;
    justify-content: center;
    transition: var(--animation);
    margin-left: 10%;
    margin-right: 10%;
}

pre:active {
    user-select: all;
}

figure pre {
    background-image: linear-gradient(rgb(91, 62, 250), var(--aqua-color));
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    border-radius: 15px;
    padding-top: 15px;
}

figure p {
    padding: 2%;
    text-align: center;
}


@media screen and (min-width: 768px) {
    div {
        flex: 0 0 50%;
        max-width: 50%;
       }
    
    div:last-child {
        flex-grow: 1;
    }

   }


@media screen and (min-width: 992px) {
    div {
        flex: 0 0 33.333%;
        max-width: 33.33%;
    }

}