:root {
    --aqua-color: aqua;
}

body {
    background-color: gray;
    margin-bottom: 0;
}

header {
    background-color: var(--aqua-color);
}

main {
    width: 96%;
    background-color: var(--aqua-color);
    margin-top: 2%;
}

h1,p {
    text-align: center;
}

h2 {
    border: 1px solid black;
    border-radius: 8px;
    background-color: gray;
    flex-wrap: wrap;
    max-width: 60%;
    text-align: center;
}

section h2 {
    position: relative;
    margin-top: -20px;
    justify-content: center;
}

section {
    border: 1px dashed black;
    background-color: bisque;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 500px;
}

section:hover {
    box-shadow: inset 0px 0px 8px brown, 0 0 15px brown;
}

pre:active {
    user-select: all;
}

@media screen and (min-width 992px) {
    
}

@media screen and (min-width 768px) {
    
}