:root {
    --aqua-color: aqua;
}

body {
    background-color: gray;
    margin-bottom: 0;
}

header {
    background-color: var(--aqua-color);
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    width: 100%;
    background-color: var(--aqua-color);
    margin-top: 2%;
}

h1,p {
    text-align: center;
}

h2 {
    border: 1px solid black;
    border-radius: 8px;
    background-color: gray;
    flex-wrap: wrap;
}

section h2 {
    position: relative;
    margin-top: -20px;
}

section {
    border: 1px dashed black;
    background-color: bisque;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;

}

@media screen and (max-width 992px) {
    
}

@media screen and (min-width 768px) {
    
}

@media screen and (max-width 768px) {
    
}